<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/auth/discord" class="col-3 btn btn-primary"> Join</a>
    </div>
</main>
    

<%- include('partials/footer') -%>